{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class = "page-name">
    <h1>正解！！！</h1>
</div>
<div class="card">
    <h5 class="card-header">{{ object.category }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ object.title }}</h5>
      <h6 class="card-title">{{ object.question }}</h6>
      <h6 class="card-title">{{ object.answer }}</h6>
      <a href="{% url 'list' %}" class="btn btn-primary">問題一覧へ</a>
    </div>
  </div>
{% endblock content %}